<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <span class="navbar-brand">
    <%= image_tag("logo.png", :alt => "logo", size: "30x30", :class => "navbar-brand") %>
    Portal do Esporte
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-nav" id="navbarNavAltMarkup">
      <a class="nav-item nav-link active" href="#">Home</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sessões
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Futebol', sessions_futebol_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Luta', sessions_luta_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Volei', sessions_volei_path, :class => "dropdown-item nav-item nav-link"%>
        </div>
      </li>
      
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sessões Premium
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Basquete', sessionspremium_basquete_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Tenis', sessionspremium_tenis_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Ultimos Resultados', sessionspremium_resultados_path, :class => "dropdown-item nav-item nav-link"%>
        </div>
      </li>      
      <% end %>

      <%= link_to 'Sobre', main_sobre_path, :class => "nav-item nav-link"%>
      |
      <% if user_signed_in? %>
         <span class="nav-item nav-link" disabled>Logado como: <strong><%= current_user.email %></strong>.</span>
        <%= link_to 'Edite seu perfil', edit_user_registration_path, :class => 'nav-item nav-link'%> 
        <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'nav-item nav-link'  %>
      <% else %>
        <%= link_to "Cadastre-se", new_user_registration_path, :class => 'nav-item nav-link'  %> 
        <%= link_to "Entrar", new_user_session_path, :class => 'nav-item nav-link'  %>
      <% end %>
    </div>
</nav>
<h1 class="featurette-heading col-md-12 display-4" style="text-align: center;margin: 30px 0px;">Notícias</h1>
<hr class="featurette-divider">
<div class="card-deck">
  <div class="card">
    <%= link_to image_tag("futebol.jpg", :alt => "Santos avança e oferece 2 anos de contrato a Abel, mas Fla segue na briga", :size => "408.33x200", :class => "img-card"),"/futebol" %>  
    <div class="card-body">
      <h5 class="card-title">Santos avança e oferece 2 anos de contrato a Abel, mas Fla segue na briga</h5>
      <p class="card-text">Após duas reuniões com o estafe do técnico Abel Braga, o presidente do Santos, José Carlos Peres, voltou animado do Rio de Janeiro. Segundo apurou o UOL Esporte, o clube paulista avançou nas negociações e já discute tempo de contrato e multa rescisória.</p>
    </div>
  </div>
  <div class="card">
    <%= link_to image_tag("volei.jpg", :alt => "Poderosos, Zenit dá vexame e Sada vira coadjuvante no Mundial", :size=> "408.33x200", :class => "img-card"),"/volei" %>
    <div class="card-body">
      <h5 class="card-title">Poderosos, Zenit dá vexame e Sada vira coadjuvante no Mundial</h5>
      <p class="card-text">Duas quedas monumentais e surpreendentes marcaram esta 14ª edição do Campeonato Mundial de Clubes de vôlei masculino, que está sendo realizado na Polônia: o brasileiro Sada Cruzeiro e o russo Zenit Kazan, gigantes da modalidade, caíram ainda na primeira fase, somando duas derrotas cada um. Sim, as mesmas equipes que há dois anos fizeram a final da competição, com o clube de Belo Horizonte se sagrando tricampeão. Nesta edição, no entanto, desclassificados precocemente, os dois times entraram em quadra nesta quinta-feira (29) apenas para cumprir tabela e tentar se despedir do torneio de maneira honrosa.</p>
    </div>
  </div>
  <div class="card">
    <%= link_to image_tag("luta.jpg", :alt => "Anderson Silva", :size => "408.33x200", :class => "img-card"),"/luta" %>
    <div class="card-body">
      <h5 class="card-title">Anderson Silva revela promessa de luta por cinturão do UFC em caso de vitória</h5>
      <p class="card-text">Anderson Silva tem 43 anos e está há quase dois sem lutar. No entanto, sua história e seus feitos parecem colocá-lo a uma luta de disputar o cinturão dos pesos-médios (84 kg) novamente. De acordo com o 'Spider', o UFC prometeu um 'title shot' caso ele vença Israel Adesanya no UFC 234, no dia 9 de fevereiro de 2019, em Melbourne (AUS).</p>
    </div>
  </div>
</div>
<br>
<footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          <small class="d-block mb-3 text-muted">© 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
</footer>
   