<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <span class="navbar-brand">
    <%= image_tag("logo.png", :alt => "logo", size: "30x30", :class => "navbar-brand") %>
    Portal do Esporte
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'Home', root_path, :class => "nav-item nav-link"%>
      <%= link_to 'Noticias', main_diario_path, :class => "nav-item nav-link"%>
      <%= link_to 'Sobre', main_sobre_path, :class => "nav-item nav-link active"%>
      <%= link_to 'Cadastre-se', new_inscrito_path, :class => "nav-item nav-link" %>
    </div>
  </div>
</nav>
<h1 class="featurette-heading col-md-12 display-4" style="text-align: center;margin: 30px 0px;">Sobre nós</h1>
<hr class="featurette-divider">
<div class="card col-md-8" style="margin-left: 20%">
  <div class="card-header h2">
    Diario
  </div>
  <div class="list-group">
    <p class="list-group-item lead" style="height: 250px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat eros purus, in maximus urna tempor in. Nulla in pellentesque nisi. Maecenas quis nisi eu ipsum faucibus elementum. Pellentesque ac fringilla risus, non eleifend mauris. Ut ac neque aliquam, blandit tortor ac, scelerisque erat. Integer ac mollis justo.</p>
    <p class="list-group-item lead" style="height: 250px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat eros purus, in maximus urna tempor in. Nulla in pellentesque nisi. Maecenas quis nisi eu ipsum faucibus elementum. Pellentesque ac fringilla risus, non eleifend mauris. Ut ac neque aliquam, blandit tortor ac, scelerisque erat. Integer ac mollis justo.</p>
    <p class="list-group-item lead" style="height: 250px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat eros purus, in maximus urna tempor in. Nulla in pellentesque nisi. Maecenas quis nisi eu ipsum faucibus elementum. Pellentesque ac fringilla risus, non eleifend mauris. Ut ac neque aliquam, blandit tortor ac, scelerisque erat. Integer ac mollis justo.</p>
  </div>
</div>