<%= form_with(model: inscrito, local: true, :class => "alinha") do |form| %>
  <% if inscrito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inscrito.errors.count, "error") %> prohibited this inscrito from being saved:</h2>

      <ul>
      <% inscrito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-row">
      <div class="form-group col-md-6">
          <div class="field">
            <%= form.text_field :email,:placeholder=>"Digite seu endereço de email.",:class => "form-control"  %>
           </div>
        </div>
    </div>
  <div class="actions">
    <%= form.submit :Confirmar, :class => "btn btn-primary"%>
  </div>
<% end %>
