<%= form_with(model: inscrito, local: true) do |form| %>
  <% if inscrito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inscrito.errors.count, "error") %> prohibited this inscrito from being saved:</h2>

      <ul>
      <% inscrito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit :Confirmar%>
  </div>
<% end %>
