<p id="notice"><%= notice %></p>

<h1>Inscritos</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscritos.each do |inscrito| %>
      <tr>
        <td><%= inscrito.email %></td>
        <td><%= link_to 'Show', inscrito %></td>
        <td><%= link_to 'Edit', edit_inscrito_path(inscrito) %></td>
        <td><%= link_to 'Destroy', inscrito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inscrito', new_inscrito_path %>
