<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <span class="navbar-brand">
    <%= image_tag("logo.png", :alt => "logo", size: "30x30", :class => "navbar-brand") %>
    Portal do Esporte
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-nav" id="navbarNavAltMarkup">
      <%= link_to 'Home', root_path, :class => "nav-item nav-link"%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sessões
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Futebol', sessions_futebol_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Luta', sessions_luta_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Volei', sessions_volei_path, :class => "dropdown-item nav-item nav-link"%>
        </div>
      </li>
      
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sessões Premium
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Basquete', sessionspremium_basquete_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Tenis', sessionspremium_tenis_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Ultimos Resultados', resultados_path, :class => "dropdown-item nav-item nav-link"%>
        </div>
      </li>      
      <%= link_to "Publique sua noticia", new_diario_path, :class => "nav-item nav-link" %>
      <%= link_to "Noticias publicadas", "/diarios", :class => "nav-item nav-link" %>
      <% end %>

      <%= link_to 'Sobre', main_sobre_path, :class => "nav-item nav-link"%>
      |
      <% if user_signed_in? %>
         <span class="nav-item nav-link" disabled>Logado como: <strong><%= current_user.email %></strong>.</span>
        <%= link_to 'Edite seu perfil', edit_user_registration_path, :class => 'nav-item nav-link'%> 
        <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'nav-item nav-link'  %>
      <% else %>
        <%= link_to "Cadastre-se", new_user_registration_path, :class => 'nav-item nav-link'  %> 
        <%= link_to "Entrar", new_user_session_path, :class => 'nav-item nav-link'  %>
      <% end %>
    </div>
</nav>
<h1 class="featurette-heading col-md-12 display-4" style="text-align: center;margin: 30px 0px;">Futebol</h1>
<hr class="featurette-divider">
<div class="card col-md-6">
    <div class="card-header">
      <h2>Santos avança e oferece 2 anos de contrato a Abel, mas Fla segue na briga</h2>
    </div>
    <div class="col-md-12">
        <div class="card-body">
          <%= image_tag("futebol.jpg", :alt => "Santos avança e oferece 2 anos de contrato a Abel, mas Fla segue na briga", :size => "408.33x200", :class => "img-card") %>
            <h5 class="card-title"></h5>
            <p class="card-text">
          <div id="texto">
              <p>Abel Braga também já discute valor da multa rescisória com o clube paulista</p>
              <p>Após duas reuniões com o estafe do técnico Abel Braga, o presidente do Santos, José Carlos Peres, voltou animado do Rio de Janeiro. Segundo apurou o <strong>UOL Esporte</strong>, o clube paulista avançou nas negociações e já discute tempo de contrato e multa rescisória.</p> 
              <p>A diretoria santista ofereceu dois anos de contrato para Abel Braga e também sugeriu o valor da multa rescisória. No entanto, o treinador que está na mira do Flamengo avisou que responderá em breve sobre o que foi ofertado pelos paulistas.</p> 
              <p>A cúpula alvinegra sonha em anunciar a contratação de Abel na próxima segunda-feira, mas o problema é que o Flamengo segue na briga pelo técnico após Renato Gaúcho, seu plano A, acertar a renovação contratual com o Grêmio por mais uma temporada.</p> 
              <p>Aliás, há dirigentes na Vila Belmiro que confiam na "vaidade" de Abel Braga para vencer a concorrência com o Flamengo. Eles acreditam que Abelão não aceitará ser o plano B do clube carioca e, por isso, o Santos pode se beneficiar na transação. &nbsp;</p> 
              <p>O Santos, inclusive, encabeça o discurso que sequer possui um "plano B" caso Abel rejeite o acordo por duas temporadas. José Carlos Peres fez questão de deixar essa impressão ao estafe do treinador. Eles jantaram juntos na última quinta-feira e "invadiram" a madrugada e depois voltaram a se reunir na sexta-feira.</p> 
            <h3 style="margin-left:0cm; margin-right:0cm"><strong>Abel agora é "plano A" de situação e oposição no Fla</strong></h3> 
              <p>Abel Braga, também favorito ao posto nas duas principais chapas que disputam a eleição presidencial do dia 8 de dezembro. Ricardo Lomba (situação) e Rodolfo Landim (oposição) aprovam a chegada do ex-técnico do Fluminense, que tem boa proposta do Santos na mesa. Até por isso, os Rubro-negros tratam a questão com cautela, embora confiem no acerto.</p> 
              <p>O comandante já teve contato com as duas chapas e nunca escondeu o desejo de voltar ao Flamengo atual, manifestando elogios ao clube até quando dirigia o Tricolor das Laranjeiras.</p> 
              <p>A vontade de permanecer no Rio de Janeiro e mudar o mínimo possível a estrutura de vida da família o agrada. Para os envolvidos na conversa, fechar o acordo com Abelão surge como um caminho natural.</p> 
              <p>Só que o forte interesse do Santos - até com a presença do presidente no Rio de Janeiro - e o assédio de outros clubes deixam as duas correntes políticas em compasso de espera e cautelosas. A decisão pelo nome de Abel aparentemente está tomada. Há, no entanto, o aguardo pelo "sim" do treinador.</p> 
            <h3 style="margin-left:0cm; margin-right:0cm"><strong>Santos oferece R$ 780 mil e parte da comissão técnica de Cuca</strong></h3> 
              <p>O Santos já havia feito uma proposta oficial a Abel Braga por telefone na semana passada. O clube paulista propôs salário de R$ 780 mil por mês para o treinador. O montante é uma espécie de "pacote" que inclui Abel e mais dois profissionais: o auxiliar técnico&nbsp;Leomir de Souza e o preparador físico Manoel Santos.</p> 
              <p>Apesar de o "pacote" de Abel Braga incluir dois profissionais, a reportagem apurou que o possível novo treinador do Santos ficará com parte da comissão técnica de Cuca. O auxiliar Eudes Pedro e dois analistas de desempenho devem permanecer sob o comando de Abel. Eles ajudarão na transição caso Abelão aceite a proposta santista.</p> 
              <p>Cuquinha, irmão e auxiliar de Cuca, e o preparador físico, Carlinhos Neves, deixarão o clube paulista após o término do Campeonato Brasileiro. Isso porque Abel não abre mão de trabalhar com o auxiliar, Leomir de Souza, e o preparador físico, Manoel Santos.<p>Abel Braga é o único treinador que o Santos negocia no momento para assumir o time no lugar de Cuca, que anunciou que
                   dará um tempo com o futebol para operar o coração</p>
        </div>
      </div>
    </div>
</div>
<hr class="featurette-divider">
<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/futebol">Futebol</a></h5>
      <%= link_to image_tag("football.png", :alt => "football", :size=> "64x64", :class => "img-link"),"/futebol" %>
    </div>
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/luta">Luta</a></h5>
      <%= link_to image_tag("boxing-glove.png", :alt => "boxing-glove", :size=> "64x64", :class => "img-link"),"/luta" %>
    </div>
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/volei">Vôlei</a></h5>
      <%= link_to image_tag("volleyball.png", :alt => "volleyball", :size=> "64x64", :class => "img-link"),"/volei" %>
    </div>
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/sobre">Sobre</a></h5>
      <%= link_to image_tag("info.png", :alt => "info", :size=> "64x64", :class => "img-link"),"/sobre" %>
    </div>
  </div>
</footer>

