<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <span class="navbar-brand">
    <%= image_tag("logo.png", :alt => "logo", size: "30x30", :class => "navbar-brand") %>
    Portal do Esporte
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-nav" id="navbarNavAltMarkup">
      <%= link_to 'Home', root_path, :class => "nav-item nav-link"%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sessões
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Futebol', sessions_futebol_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Luta', sessions_luta_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Volei', sessions_volei_path, :class => "dropdown-item nav-item nav-link"%>
        </div>
      </li>
      
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sessões Premium
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Basquete', sessionspremium_basquete_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Tenis', sessionspremium_tenis_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Ultimos Resultados', resultados_path, :class => "dropdown-item nav-item nav-link"%>
        </div>
      </li>      
      <%= link_to "Publique sua noticia", new_diario_path, :class => "nav-item nav-link" %>
      <%= link_to "Noticias publicadas", "/diarios", :class => "nav-item nav-link" %>
      <% end %>

      <%= link_to 'Sobre', main_sobre_path, :class => "nav-item nav-link"%>
      |
      <% if user_signed_in? %>
        <span class="nav-item nav-link" disabled>Logado como: <strong><%= current_user.email %></strong>.</span>
        <%= link_to 'Edite seu perfil', edit_user_registration_path, :class => 'nav-item nav-link'%> 
        <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'nav-item nav-link'  %>
      <% else %>
        <%= link_to "Cadastre-se", new_user_registration_path, :class => 'nav-item nav-link'  %> 
        <%= link_to "Entrar", new_user_session_path, :class => 'nav-item nav-link'  %>
      <% end %>
    </div>
</nav>
<h1 class="featurette-heading col-md-12 display-4" style="text-align: center;margin: 30px 0px;">Luta</h1>
<hr class="featurette-divider">
<div class="card col-md-6">
    <div class="card-header">
    <h2>Anderson Silva revela promessa de luta por cinturão do UFC em caso de vitória</h2>
    </div>
    <div class="col-md-12">
        <div class="card-body">
          <%= image_tag("luta.jpg", :alt => "Anderson Silva revela promessa de luta por cinturão do UFC em caso de vitória", :size => "408.33x200", :class => "img-card") %>
            <p class="card-text">
            <div id="texto">
              <p>Anderson Silva tem 43 anos e está há quase dois sem lutar. No entanto, sua história e seus feitos parecem colocá-lo a uma luta de disputar o cinturão dos pesos-médios (84 kg) novamente. De acordo com o 'Spider', o UFC prometeu um 'title shot' caso ele vença Israel Adesanya no UFC 234, no dia 9 de fevereiro de 2019, em Melbourne (AUS).</p>
              <p>Em entrevista ao site da emissora americana 'ESPN', o brasileiro comentou o obstáculo enorme - inclusive literalmente, já que Adesanya tem 1,93 m de altura e 2,03 m de envergadura - que terá de enfrentar. Nas palavras do próprio Anderson, trata-se de um risco que vale a pena.</p>
              <p>"É um grande desafio para mim. Na minha vida inteira, desde que comecei nas artes marciais, eu sempre aceitei o melhor desafio. Israel é um cara jovem, é o futuro do esporte. Todos estão falando sobre Israel. Acho que esta é a melhor luta no esporte", disse, antes de garantir que a promessa do title shot foi feita pelo presidente do evento.</p>
              <p>"Dana esteve em Los Angeles para conversar comigo. Eu disse a ele: 'Por que eu aceitaria esta luta?' E Dana disse: 'Você sabe, se você ganhar esta luta, você disputa o cinturão. Eu disse: 'Ok, agora você está falando de bons negócios comigo'", contou.</p>
              <p>Silva relatou também que o primeiro tópico da conversa com o dirigente foi um possível combate entre ele e Conor McGregor. Em outubro, o irlandês afirmou que gostaria de enfrentar Anderson, a despeito da diferença de tamanho entre eles. McGregor foi campeão dos penas (66 kg) e dos leves (70 kg), tendo feito duas lutas como meio-médio (77 kg). O brasileiro, por sua vez, foi campeão dos pesos-médios (84 kg) e também fez combates como meio-pesado (93 kg) em sua jornada no Ultimate.</p>
              <p>Apesar de o duelo com Israel ter esfriado seus planos iniciais, Anderson afirmou que ainda não desistiu de encarar o 'Notorious'. Para o 'Spider', a superluta seria uma boa forma de se manter ativo depois do embate contra Adesanya. "Primeiro, conversei com Dana sobre uma luta com McGregor, porque McGregor me desafiou. Talvez ela seja minha segunda luta depois deste tempo parado. Vamos ver", falou.</p>
              <p>Dono de uma das mais espetaculares carreiras de um lutador de MMA, Anderson perdeu o título dos médios em 2013, para Chris Weidman, e não mais conseguiu se manter no nível altíssimo que apresentava. Em suas últimas cinco lutas, foram três derrotas, uma vitória e um 'no contest' - originalmente um triunfo diante de Nick Diaz, em 2015, que teve o resultado alterado por causa de um exame antidoping positivo.</p>
            </div>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/futebol">Futebol</a></h5>
      <%= link_to image_tag("football.png", :alt => "football", :size=> "64x64", :class => "img-link"),"/futebol" %>
    </div>
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/luta">Luta</a></h5>
      <%= link_to image_tag("boxing-glove.png", :alt => "boxing-glove", :size=> "64x64", :class => "img-link"),"/luta" %>
    </div>
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/volei">Vôlei</a></h5>
      <%= link_to image_tag("volleyball.png", :alt => "volleyball", :size=> "64x64", :class => "img-link"),"/volei" %>
    </div>
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/sobre">Sobre</a></h5>
      <%= link_to image_tag("info.png", :alt => "info", :size=> "64x64", :class => "img-link"),"/sobre" %>
    </div>
  </div>
</footer>
