<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <span class="navbar-brand">
    <%= image_tag("logo.png", :alt => "logo", size: "30x30", :class => "navbar-brand") %>
    Portal do Esporte
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-nav" id="navbarNavAltMarkup">
      <%= link_to 'Home', root_path, :class => "nav-item nav-link"%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sessões
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Futebol', sessions_futebol_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Luta', sessions_luta_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Volei', sessions_volei_path, :class => "dropdown-item nav-item nav-link"%>
        </div>
      </li>
      
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sessões Premium
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Basquete', sessionspremium_basquete_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Tenis', sessionspremium_tenis_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Ultimos Resultados', sessionspremium_resultados_path, :class => "dropdown-item nav-item nav-link"%>
        </div>
      </li>      
      <%= link_to "Publique sua noticia", new_diario_path, :class => "nav-item nav-link" %>
      <%= link_to "Noticias publicadas", "/diarios", :class => "nav-item nav-link" %>
      <% end %>

      <%= link_to 'Sobre', main_sobre_path, :class => "nav-item nav-link"%>
      |
      <% if user_signed_in? %>
         <span class="nav-item nav-link" disabled>Logado como: <strong><%= current_user.email %></strong>.</span>
        <%= link_to 'Edite seu perfil', edit_user_registration_path, :class => 'nav-item nav-link'%> 
        <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'nav-item nav-link'  %>
      <% else %>
        <%= link_to "Cadastre-se", new_user_registration_path, :class => 'nav-item nav-link'  %> 
        <%= link_to "Entrar", new_user_session_path, :class => 'nav-item nav-link'  %>
      <% end %>
    </div>
</nav>
<h1 class="featurette-heading col-md-12 display-4" style="text-align: center;margin: 30px 0px;">Volei</h1>
<hr class="featurette-divider">
<div class="card col-md-6">
    <div class="card-header">
    <h2>Poderosos, Zenit dá vexame e Sada vira coadjuvante no Mundial</h2>
    </div>
    <div class="col-md-12">
        <div class="card-body">
          <%= image_tag("volei.jpg", :alt => "Poderosos, Zenit dá vexame e Sada vira coadjuvante no Mundial", :size => "408.33x200", :class => "img-card") %>
            <p class="card-text">
            <div id="texto">
              <p>Duas quedas monumentais e surpreendentes marcaram esta 14ª edição do Campeonato Mundial de Clubes de vôlei masculino, que está sendo realizado na Polônia: o brasileiro Sada Cruzeiro e o russo Zenit Kazan, gigantes da modalidade, caíram ainda na primeira fase, somando duas derrotas cada um. Sim, as mesmas equipes que há dois anos fizeram a final da competição, com o clube de Belo Horizonte se sagrando tricampeão. Nesta edição, no entanto, desclassificados precocemente, os dois times entraram em quadra nesta quinta-feira (29) apenas para cumprir tabela e tentar se despedir do torneio de maneira honrosa. Jogando com titulares e reservas, o Cruzeiro conseguiu a vitória por 3 sets a 0 (25-16, 27-25 e 25-16) sobre a inexpressiva equipe iraniana Khatam Ardakan. Já o Zenit, usando somente seus reservas, bateu o Skra Belchatow por 3 sets a 1, com parciais de 16-25, 25-17, 27-29 e 21-25.</p>
              <p>Tricampeão mundial e, sem dúvida, a mais vencedora equipe do voleibol brasileiro, o Sada Cruzeiro sofreu uma queda histórica, uma vez que esta foi a primeira vez, nas sete edições do Campeonato em que esteve presente, que o time não conseguiu passar da primeira fase. Mais do que isso, caiu diante de adversários que não figuram entre as maiores potências do voleibol internacional atual. Afinal, o Asseco Resovia é um time mediano que obteve apenas uma vitória em nove rodadas do Campeonato Polonês. Já o Trentino, apesar de ser uma equipe bem mais tradicional e qualificada, repleta de jogadores importantes, está em&nbsp;terceiro lugar na tabela do Italiano e não é considerado favorito para levar o scudetto. Este fato é bastante relevante para nos fazer refletir sobre qual posição&nbsp;o Cruzeiro e, por consequência, o vôlei brasileiro de clubes, ocupam hoje no cenário internacional.</p> 
              <p>Não há como negar que a Raposa já chegou à competição cheia de incertezas e sob desconfiança. A equipe do técnico Marcelo Mendez passa por um processo de reconstrução depois da saída de jogadores que compunham sua espinha dorsal: o ponteiro Yoandy Leal, o meio-de-rede Simon e o levantador Nico Uriarte. Sem falar que&nbsp;o time celeste já havia sofrido um duro golpe uma temporada antes com a saída do multicampeão armador William Arjona – um dos grandes responsáveis pela transformação do&nbsp;clube mineiro em uma máquina de produzir títulos – após sete anos.</p>
        </div>
      </div>
    </div>
</div>
<hr class="featurette-divider">
<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/futebol">Futebol</a></h5>
      <%= link_to image_tag("football.png", :alt => "football", :size=> "64x64", :class => "img-link"),"/futebol" %>
    </div>
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/luta">Luta</a></h5>
      <%= link_to image_tag("boxing-glove.png", :alt => "boxing-glove", :size=> "64x64", :class => "img-link"),"/luta" %>
    </div>
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/volei">Vôlei</a></h5>
      <%= link_to image_tag("volleyball.png", :alt => "volleyball", :size=> "64x64", :class => "img-link"),"/volei" %>
    </div>
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/sobre">Sobre</a></h5>
      <%= link_to image_tag("info.png", :alt => "info", :size=> "64x64", :class => "img-link"),"/sobre" %>
    </div>
  </div>
</footer>
