<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <span class="navbar-brand">
    <%= image_tag("logo.png", :alt => "logo", size: "30x30", :class => "navbar-brand") %>
    Portal do Esporte
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-nav" id="navbarNavAltMarkup">
      <%= link_to 'Home', root_path, :class => "nav-item nav-link"%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sessões
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Futebol', sessions_futebol_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Luta', sessions_luta_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Volei', sessions_volei_path, :class => "dropdown-item nav-item nav-link"%>
        </div>
      </li>
      
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sessões Premium
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Basquete', sessionspremium_basquete_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Tenis', sessionspremium_tenis_path, :class => "dropdown-item nav-item nav-link"%>
          <%= link_to 'Ultimos Resultados', sessionspremium_resultados_path, :class => "dropdown-item nav-item nav-link"%>
        </div>
      </li>      
      <% end %>

      <%= link_to 'Sobre', main_sobre_path, :class => "nav-item nav-link"%>
      |
      <% if user_signed_in? %>
        <span class="nav-item nav-link" disabled>Logado como: <strong><%= current_user.email %></strong>.</span>
        <%= link_to 'Edite seu perfil', edit_user_registration_path, :class => 'nav-item nav-link'%> 
        <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'nav-item nav-link'  %>
      <% else %>
        <%= link_to "Cadastre-se", new_user_registration_path, :class => 'nav-item nav-link'  %> 
        <%= link_to "Entrar", new_user_session_path, :class => 'nav-item nav-link'  %>
      <% end %>
    </div>
</nav>
<h1 class="featurette-heading col-md-12 display-4" style="text-align: center;margin: 30px 0px;">Basquete</h1>
<hr class="featurette-divider">
<div class="card col-md-6">
    <div class="card-header">
    <h2>Calouro sensação brilha diante de astros da NBA: assista às melhores jogadas de Luka Doncic</h2>
    </div>
    <div class="col-md-12">
        <div class="card-body">
          <%= image_tag("basquete1.jpg", :alt => "Calouro sensação brilha diante de astros da NBA: assista às melhores jogadas de Luka Doncic", :size => "408.33x200", :class => "img-card") %>
            <h5 class="card-title"></h5>
            <p class="card-text">
        <div id="texto">
              <p>Luka Doncic está longe de ser daqueles jogadores atléticos. Velocidade não é seu forte, a forma física também não impressiona. Mas quando tem a bola nas mãos, o esloveno rouba os holofotes com o chamado "QI de basquete".</p>
              <p> Dono de rara técnica, visão de jogo privilegiada e muita habilidade e pontaria, o calouro de 19 anos não tem se intimidado diante de astros consagrados como James Harden e Kyrie Irving em sua temporada de estreia na liga americana e já dispara como grande candidato ao prêmio de calouro do ano. </p>
              <p> Mais do que bons números e resultados, o que tem feito a NBA parar para assistir à Luka Doncic noite após noite é a capacidade do esloveno deixar o público de boca aberta. </p>
              <p>Praticamente todas as partidas dos Mavs têm o armador nos melhores momentos com algum lance plástico ou decisivo.Tem drible desconcertante, assistência pelas costas, cesta quase do meio da quadra... o cardápio é farto. </p>
        </div>

        </div>
    </div>
</div>
<hr class="featurette-divider">
<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/futebol">Futebol</a></h5>
      <%= link_to image_tag("football.png", :alt => "football", :size=> "64x64", :class => "img-link"),"/futebol" %>
    </div>
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/luta">Luta</a></h5>
      <%= link_to image_tag("boxing-glove.png", :alt => "boxing-glove", :size=> "64x64", :class => "img-link"),"/luta" %>
    </div>
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/volei">Vôlei</a></h5>
      <%= link_to image_tag("volleyball.png", :alt => "volleyball", :size=> "64x64", :class => "img-link"),"/volei" %>
    </div>
    <div class="col-6 col-md">
      <h5><a class="footer-col-title" href="/sobre">Sobre</a></h5>
      <%= link_to image_tag("info.png", :alt => "info", :size=> "64x64", :class => "img-link"),"/sobre" %>
    </div>
  </div>
</footer>
   