<p id="notice"><%= notice %></p>

<p>
  <strong>Time1:</strong>
  <%= @resultado.time1 %>
</p>

<p>
  <strong>Gols1:</strong>
  <%= @resultado.gols1 %>
</p>

<p>
  <strong>Time2:</strong>
  <%= @resultado.time2 %>
</p>

<p>
  <strong>Gols2:</strong>
  <%= @resultado.gols2 %>
</p>

<%= link_to 'Edit', edit_resultado_path(@resultado) %> |
<%= link_to 'Back', resultados_path %>
