<%= form_with(model: diario, local: true) do |form| %>
  <% if diario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diario.errors.count, "error") %> prohibited this diario from being saved:</h2>

      <ul>
      <% diario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-row">
      <div class="form-group col-md-6">
  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo , :class => "form-control", :required => true %>
  </div>
  </div>
  </div>
<div class="form-row">
      <div class="form-group col-md-6">
  <div class="field">
    <%= form.label :corpo %>
    <%= form.text_area :corpo, :class => "form-control", :rows => 8, :required => true %>
  </div>
</div>
</div>
<div class="form-group col-md-6">
  <div class="actions">
    <%= form.submit :Confirmar, :class => "btn btn-primary"%>
  </div>
</div>
<% end %>
